
.body{
    /* border: 1px solid green; */
    position: relative;
    box-shadow: -4px 8px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.text{
    font-family: poppins;
    padding: 15% 10% 10% 10%;
}

.head{
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 10px;
}

.textBody{
    font-weight: 500;
    font-size: 14px;
    color: #393646;
}

.img{
    background-color: hsl(257, 27%, 26%);
    border-radius: 50%;
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20px;
    top: -32px;
}